Repository alexey74/datacore_interview: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Go code, Build Python code, Publish Go artifacts, Publish Python artifacts

Jenkinsfile:

#!/usr/bin/env groovy
// Jenkinsfile for datacore_interview monorepo
// Based on https://stackoverflow.com/questions/48751013/jenkins-multibranch-pipeline-only-for-subfolder
// Author: Alexey Pechenkin <alexey74@gmail.com>
//

def GO_VERSION = '1.15.6'
def PYTHON_VERSION = '3.7.7'

def artifacts = []

pipeline {
    agent any

    stages {
        stage('Build Go code') {
            agent {
                docker {
                    image "golang:${GO_VERSION}"
                    reuseNode true
                }
            }
            when {
                changeset "go/**"
            }
            steps {
                sh 'cd go && make all'
            }
        }
        stage('Build Python code') {
            agent {
                docker {
                    image "python:${PYTHON_VERSION}"
                    reuseNode true
                }
            }
            when {
                changeset "python/**"
            }
            steps {
                sh '''
                    cd python &&
                    pip install -r requirements.txt &&
                    pipenv --deploy --ignore-pipfile &&
                    make all
                    '''
            }
        }
        stage('Publish Go artifacts') {
            agent {
                docker {
                    image "golang:${GO_VERSION}"
                    reuseNode true
                }
            }
            when {
                changeset "go/**"
            }
            steps {
                milestone 1
                lock('go-artifact-publish') {
                    sh 'cd go && make publish'
                }
            }
        }
        stage('Publish Python artifacts') {
            agent {
                docker {
                    image "python:${PYTHON_VERSION}"
                    reuseNode true
                }
            }
            when {
                changeset "python/**"
            }
            steps {
                milestone 2
                lock('python-artifact-publish') {
                    sh '''
                        cd python &&
                        make publish
                    '''
                }
            }
        }
    }

    post {
        always {
            archiveArtifacts(
                artifacts:   'go/output/golang-test.out,'
                           + 'go/output/golang-coverage.out,'
                           + 'go/output/golang-artefact,'
                           + 'python/output/python-test.out,'
                           + 'python/output/python-coverage.tar.gz,'
                           + 'python/output/takehome-*.tar.gz'
                , fingerprint: true, allowEmptyArchive: true
            )
        }
    }
}

run build as root and in privileged mode
  Jenkinsfile
Due: none

bumped up Python pkg version
  python/setup.py
Due: Build Python code, Publish Python artifacts

fixed typo in Python build cmd
  Jenkinsfile
Due: none

install dev. Python pkgs during build; rebuild subdirs if CI config changed
  Jenkinsfile
Due: none

separate rules for changeset conditions
  Jenkinsfile
Due: none

fixed Python build cmd; reverted Python version
  Jenkinsfile
  python/setup.py
Due: Build Python code, Publish Python artifacts

added stage building restriction; use bash in Makefiles
  Jenkinsfile
  go/Makefile
  python/Makefile
Due: Build Go code, Build Python code, Publish Go artifacts, Publish Python artifacts

also trigger subdir builds and publishing if build started by user
  Jenkinsfile
Due: none

added version to Go module path
  go/go.mod
Due: Build Go code, Publish Go artifacts

added build badge; fixed build stage conditions to include master branch
  Jenkinsfile
  README.md
Due: none
